h1 {
   color: navy; font-size: 32px
}
h2 {
   color: navy; font-size: 32px
}
p { color: purple; font-size: 26px; }
ol { color: purple; font-size: 26px; }
body {
background-image: url(5be93c759a0e916707142b7f.png);
background-size: cover
background-attachment: fixed ;
}
img {
   transition: transform .3s ease-in-out;
}
img: hover #img1, img: focus #img1 {
   transform: scale(1.5);
}
