h1 {
   color: navy; font-size: 32px
}
h2 {
   color: navy; font-size: 32px
}
p { color: purple; font-size: 26px; }
ol { color: purple; font-size: 26px; }
a:link {color:#FF0000;}
a:visited {color:#00FF00;}
a:hover {color:#FF00FF;}
a:active {color:#0000FF;}
body {
background-image: url(5be93c759a0e916707142b7f.png);
background-size: cover
background-attachment: fixed ;
}
